h1 {
  color: green;
  text-align: center;
}

.list-page {
    max-width:50em;
    margin: 1em auto;
    padding: 2em;
    background: #ffffff;
    border-radius: 4px;
}

.red {
  color: red;
}
