/* You can add global styles to this file, and also import other style files */
h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    background-image: url(/images/bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

body, input, select, textarea {
    color: #414f57;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.1em;
}
